AUTH_USERNAME=admin
AUTH_PASSWORD=admin123
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MGVjYzhkOTJjYTg1N2JiYjg0OGM5NWI3OGVhMDYyNiIsIm5iZiI6MTc2OTM1MjY3Mi43NjQ5OTk5LCJzdWIiOiI2OTc2MmRlMDM4N2U5ZTEwYmJhMzZkMWMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.uShqriTDv_6kGZxa3hD6A8wXRMyY1Ju6BciPfDMZWg8
SECRET_KEY=gn4UUJDHUr783wyehdhhfJHGsndnvooodkdmnbsjwnb3333
